.profile-card {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .profile-card img {
    width: 120px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-card .name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .profile-card .title {
    color: #999;
    margin-top: 0;
  }
  
  .profile-card .details {
    display: none;
    margin-top: 20px;
  }
  
  .profile-card .details p {
    margin-bottom: 10px;
  }
  